/**{
    border: 1px solid lightgray;
}*/

.sony-img{
    width: 100px;
}

ul>*{
    text-decoration:none;
    align-items: center;
}

.arrow{
    width: 10px;
}

/*.navbar > a{
    color:black
} quando rimetti le liste*/

/* PER FAR SPARIRE IN MOBILE .menudx a{
    display: none;
}*/

/*SEZIONI IN GENERALE*/
section>*{
    border: 1px solid lightgray;
}

section{
    padding: 2rem 0;
}


/*JUMBORTON*/
.jumbotron{
    padding-top: 150px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

.dimension-p{
    font-size: smaller;
    font-weight: 500;
    color: blue;
}
  
