/*NAVBAR*/
.sony-img{
    width: 100px;
}

.right-list a,
.right-left a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 1.5rem;
}

.lens-container{
    width: 25px;
}

.arrow{
    width: 10px;
}

/*.navbar > a{
    color:black
} quando rimetti le liste*/

/* PER FAR SPARIRE IN MOBILE .menudx a{
    display: none;
}*/

/*SEZIONI IN GENERALE*/
section>*{
    border: 1px solid lightgray;
}

section{
    padding: 2rem 0;
}


/*JUMBORTON*/
.jumbotron{
    padding-top: 150px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}



.dimension-p{
    font-size: smaller;
    font-weight: 500;
    color: blue;
}

/*SEZIONE2*/

.text-sez2{
    color: gray;
    font-weight: 400;
}
  
/*BANNER*/

.banner{
    padding: 0;
}

/*SEZIONE5*/

.sez5{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    background-size: cover;
}

/*SEZIONE6*/

.nuove-uscite{
    background-color:rgb(31, 31, 31) ;
}

/*SEZIONE8*/

.bg-gray{
    background-color:rgb(190, 188, 187) ;
}


/*SEZIONE10*/

.avengers{
    background-color: rgb(22, 28, 59);
}

/*FOOTER*/

.img-foot-container{
    width: 150px;
}